*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: #ffdbda;
    font-family: 'Rajdhani', sans-serif;
}


/* HEADER */

header{
    width: 100vw;
    height: 3em;
    margin-bottom: 3em;
    background: linear-gradient(90deg, hsla(14, 90%, 73%, 1) 0%, hsla(331, 54%, 44%, 1) 100%);
}

ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    padding-top: 0.6em;
    font-size: 1.2em;
    margin-right: 2em;
}

a{
    text-decoration: none;
    color: #f8edeb;
    font-weight:bolder;
}
a:hover{
    color:#450920;
}

/* HERO */

.contenedor{
    /* width: 95vw; */
    height: 35vh;
}

.titulo{
    color:#450920;
    margin-top: 2em;
    margin-left: 15%;
    font-size: 5.1em;
}

h2{
    font-size: 3em;
    margin-top: 1em;
    margin-right: 30%;
    float: right;
    color: #450920;
    position: relative;
}

h2 span{
    position: absolute;
    right: 0;
    width: 0;
    background: #ffdbda;
    border-left: 1px solid #450920;
    animation: escribir 2.5s steps(17);
}


@keyframes escribir{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

/* PORTFOLIO */

#portfolio{
    margin: 0 auto;
    background-color: #f8edeb;
    /* clip-path: ellipse(224% 100% at 10% 100%); */
    padding-bottom: 4em;
    padding-top: 3em;
    margin-top: -10px
}
.wave{
    width: 100vw;
    /* margin-bottom: -100px; */
}

h3{
    font-size: 4em;
    margin-top: 2.3em;
    margin-bottom: 2em;
    text-align: center;
    color:#450920
}

.elipse{
    /* width: 100vw; */
    height: 10em;
    background-color: #f8edeb;
    clip-path: ellipse(138% 100% at 134.48% 0%);
    margin-top: -20px;
}

.flex-padre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10em;
}

.flex-padre_right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 10em;
}

.imagen-portfolio{
    width:37em;
    height:18.75em;
    border: 1px solid silver;
}


.texto-portfolio_left{
    width: 25em;
    height: 12.5em;
    background-color: #ffffff;
    margin-left: -6.25em;
    margin-top: 8.10em;
}

.texto-portfolio_cuadro{
    text-align: center;
    margin-top: 2em;
    font-size: 1.5em;
}

.texto-portfolio_right{
    width: 25em;
    height: 200px;
    background-color: #ffffff;
    margin-right: -6.25em;
    margin-top: 8.1em;  
}

.icons{
    display: flex;
    justify-content:space-evenly;
}

.icons i{
    color: black;
    margin: 0.3em;
}

.hide{
    visibility: hidden;
}


/* FOOTER */
footer{
    width: 100vw;
    height: 3em;
    background: linear-gradient(90deg, hsla(14, 90%, 73%, 1) 0%, hsla(331, 54%, 44%, 1) 100%); 
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 4em;     
}

i{
    font-size: 2em;
    color: #f8edeb;
    margin-right: 2em;
    margin-left: 2em;
}

i:hover{
    color:#450920;
}


@media only screen and (max-width: 600px){

    .titulo{
        font-size: 2.5em;
        margin-left: 20%;
        padding-top: 2em;
    }
    h2{
        font-size: 1.3em;
        margin-top: 1em;
        margin-right: 5%;
    }
    .contenedor{
        /* margin: auto; */
        height: 23em;
        width: 70%;
    }
    h3{
        font-size: 2em;
    }
    #portfolio{
        /* width: 100vw; */
        /* clip-path: ellipse(310% 100% at 35% 100%); */
        padding-bottom: 4em;
        padding-top: 3em;
    }
    .imagen-portfolio{
        width: 18em;
        height: 10em;  
    }
    .texto-portfolio_left{
        width: 18em;
        height: 9em;
        margin: 0;
    }
    .texto-portfolio_right{
        width: 18em;
        height: 9em;
        margin: 0;
    }
    .texto-portfolio_cuadro{
        margin-top: 1.5em;
        font-size: 1em;
    }
    .icons i{
        font-size: 1em;
        margin:1em
    }

    i{
    font-size: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    }
    
    

}

@media (min-width: 601px) and (max-width: 1000px){
    .titulo{
        font-size: 3em;
        margin-left: 10%;

    }
    h2{
        font-size: 1.8em;
        margin-top: 1em;
        margin-right: 15%;
    }
    h3{
        font-size: 2.5em;
    }
    .contenedor{
        height: 60vh;
        /* border: 1px solid red; */
    }
    .imagen{
        height: 20em;
    }
    #portfolio{
        /* clip-path: ellipse(310% 100% at 35% 100%); */
        padding-bottom: 4em;
        padding-top: 3em;
    }
    .imagen-portfolio{
        width: 25em;
        height: 15em;
    }
    
    .texto-portfolio_left{
        width: 18em;
        height: 10em;
    }
    
    .texto-portfolio_cuadro{
        text-align: center;
        margin-top: 1.5em;
        font-size: 1.3em;
    }
    
    .texto-portfolio_right{
        width: 18em;
        height: 10em;
    }
    .icons i{
        font-size: 1.3em;
        margin:1.3em
    }
    

}

